extraEnv:
  - name: VAULT_SKIP_VERIFY
    value: "true"
installCRDs: false
extraObjects:
  - apiVersion: external-secrets.io/v1
    kind: ClusterSecretStore
    metadata:
      name: vault-backend
    spec:
      retrySettings:
        maxRetries: 5
        retryInterval: "10s"
      provider:
        vault:
          server: "https://vault-active.openbao-vault.svc.cluster.local:8200"
          path: "secret"
          version: "v2"
          auth:
            # Authenticate against Vault using a Kubernetes ServiceAccount
            # token stored in a Secret.
            # https://www.vaultproject.io/docs/auth/kubernetes
            kubernetes:
              # Path where the Kubernetes authentication backend is mounted in Vault
              mountPath: "kubernetes"
              # A required field containing the Vault Role to assume.
              role: "reader-role"
              # Optional service account field containing the name
              # of a kubernetes ServiceAccount
              serviceAccountRef:
                name: "external-secrets-read-all-from-vault"
                namespace: "external-secrets"
  - apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: external-secrets-read-all-from-vault